

{{#section 'head'}}
<style>
	svg {
		width: 50px;
		height: 50px;
	}
</style>

{{/section}}

<h1>You are loged in with Facebook your name is : {{Hello}}   ssss</h1>


<p>{{HelloWorld}}</p>

<br>
<br>
<br>
<br>

{{{qr}}}
